.selected-date {
    background-color: #4caf50; /* Cor de destaque verde */
    color: #fff; /* Cor do texto branco */
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
  }
  .picker__box{ 
    margin: 60px;
    width: 150px;
  } 
  .picker__date-display, .picker__weekday-display{
    background-color: #408080;
  }
  